.sidebar {
    position: fixed;
    top: 10%;
    left: 0;
    width: 20%;
    height: 100%;
    overflow: auto;
}

.main-content {
    margin-left: 25%; /* Adjust this value to properly space your main content. */
    width: 70%; /* Adjust this value to properly space your main content. */
}
