---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

// Rest of your styles
.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.site-nav {
  z-index: 2;
}

/* Desktop styles */
@media (min-width: 768px) {
  .toc-nav {
    position: fixed;
    top: 10%;
    left: 3%;
    max-height: 60%;
    width: 20%;
    overflow-y: scroll;
  }
  .toc-nav::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
  }
  .toc-nav::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the tracking area */
  }
  .toc-nav::-webkit-scrollbar-thumb {
    background: #888; /* color of the scroll thumb */
  }
  .toc-nav::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the scroll thumb on hover */
  }
  
}

/* Mobile styles */
@media (max-width: 767px) {
  .toc-nav {
    position: relative;
    width: 100%;
    clear: both;
    z-index: 1;
  }

  .toc-nav ul {
    display: none;
  }

  .toc-nav.active ul {
    display: block;
  }
}