---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

// Rest of your styles
.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.site-nav {
  z-index: 2;
}

/* Desktop styles */
@media (min-width: 768px) {
  .toc-nav {
    position: fixed;
    top: 10%;
    left: 3%;
    max-height: 60%;
    width: 20%;
    overflow-y: scroll;
  }
  .toc-nav::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
  }
  .toc-nav::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the tracking area */
  }
  .toc-nav::-webkit-scrollbar-thumb {
    background: #888; /* color of the scroll thumb */
  }
  .toc-nav::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the scroll thumb on hover */
  }
  
}

.project-title {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd; /* Make borders less pronounced */
  border-radius: 5px; /* Rounded borders */
  margin: 5px 30px; /* Space between titles */
  background-color: #fff9e5; /* Light grey background */
  color: black; /* White text color */
  transition: background-color 0.3s; /* Smooth transition */
}

.project-title:hover, .project-title.active {
  background-color: #d0ac27; /* Darker grey on hover/active */
  color: white; /* White text color */
}

.project-content {
  display: none; /* Content starts out hidden */
  margin: 15px 0;
  padding: 15px;
  border-left: 3px solid #ddd; /* Slight left border */
  transition: max-height 0.2s ease-out; /* Optional: for accordion effect */
}

.category-title {
  font-size: 1.5em; /* Larger font size */
  color: #af8a01; /* Dark text color for contrast */
  background-color: #fff; /* Slightly different background color */
  padding: 10px 15px; /* Some padding around the text */
  margin-top: 30px; /* Extra space above the category title */
  border-radius: 5px; /* Rounded borders */
  /*border-left: 5px solid #ac3ab0; /* A left border for definition */
  margin-bottom: 10px; /* Space before the project titles start */
}

/* Mobile styles */
@media (max-width: 767px) {
  .toc-nav {
    position: relative;
    width: 100%;
    clear: both;
    z-index: 1;
  }

  .toc-nav ul {
    display: none;
  }

  .toc-nav.active ul {
    display: block;
  }
}

.posts-container {
  display: block; /* Keeps the single column layout */
}

.post-card {
  display: flex; /* Enables flexbox layout */
  align-items: center; /* Aligns items vertically in the center */
  margin-bottom: 10px;
  background-color: #fff9e5;
  border: 1px solid #ccc;
  padding: 0px;
  transition: box-shadow 0.3s ease;
  text-decoration: none; /* Remove default link styling */
  color: inherit;
  width: 100%; /* Full width for each card */
}

.post-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none; /* Prevents underlining on hover */
}

.post-image {
  flex: 0 0 20%; /* Flex basis set to 20% and not allowed to grow or shrink */
  max-width: 20%; /* Ensures image container doesn't exceed 20% of card's width */
  display: flex; /* To ensure image centers in this container if smaller */
  justify-content: center; /* Center image in the container */
}

.post-image img {
  width: 100%; /* Image takes full width of its container */
  height: auto;
  max-width: 100%; /* Ensures image does not exceed its natural size */
}

.post-title {
  margin: 5%;
  font-size: 1.5em;
  flex-grow: 1; /* Allows the title to take up the remaining space */
  /*Center the title in the space left*/
  display: flex;
  align-items: center;
  justify-content: center;
}
