---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

// Rest of your styles
.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Desktop styles */
@media (min-width: 768px) {
  .toc-nav {
    position: fixed;
    top: 10%;
    left: 3%;
    height: 100%;
    width: 20%;
    overflow: auto;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  body {
    padding-top: 10%; /* Adjust this value based on the actual height of your ToC */
  }

  .toc-nav {
    position: fixed;
    top: 0; /* This makes sure the ToC sticks to the top */
    width: 100%;
    height: 10%; /* Adjust this value based on the actual height of your ToC */
    clear: both;
  }

  .toc-nav ul {
    display: none;
  }

  .toc-nav.active ul {
    display: block;
  }
}
