<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZRXTN27YVF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZRXTN27YVF');
  </script>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script>
      document.querySelectorAll('.toc-nav .section').forEach(function(item) {
        item.addEventListener('click', function() {
          let subsections = this.querySelector('.subsections');
          if (subsections) {
            if (subsections.style.display === "none") {
              subsections.style.display = "block";
            } else {
              subsections.style.display = "none";
            }
          }
        });
      });
    </script>
      

    <script>
      document.querySelector('.toc-nav h3').addEventListener('click', function() {
        document.querySelector('.toc-nav').classList.toggle('active');
      });
    </script>

    <script>
      function toggleProject(projectId) {
          // Get the content element based on the provided ID
          var content = document.getElementById(projectId);

          // Hide all other project contents
          var allContents = document.getElementsByClassName('project-content');
          for (var i = 0; i < allContents.length; i++) {
              if (allContents[i] !== content) {
                  allContents[i].style.display = 'none';
              }
          }

          // Toggle the clicked project content's visibility
          if (content.style.display === 'block') {
              content.style.display = 'none';
          } else {
              content.style.display = 'block';
          }
      }
    </script>
      
  </body>

</html>